*{
  margin: 0;
  padding: 0;
}
body{
background-color: #8F96EE;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23747dd2' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}
a{
  cursor: pointer;
}
.cursor-pointer{
  cursor: pointer;
}
.background-body{
  background: rgb(255,255,255);
background: linear-gradient(140deg, rgba(255,255,255,0.5) 0%, rgba(205,210,242,0.5) 18%, rgba(160,168,204,0.5) 30%, rgba(98,104,215,0.5) 47%, rgba(56,76,222,0.5) 75%, rgba(0,0,0,0.5) 100%);
color: black;
}
.burguer {
  display: none;
 
  left: 6rem;
  z-index: 2;
}
.burguer div {
  width: 5rem;
  height: 0.5rem;
  background-color: black ;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  transition: all 200ms ease-in;
}
.line1b{
  margin-left: 0rem;
  transform: rotate(135deg) translateX(10%) translateY(-20%);
  transition: all 200ms ease-in;
 
}
.line2b{
  margin-top: -1rem;
  transform: rotate(45deg) translateY(-30%) translateX(-10%);
  transition: all 200ms ease-in;
}
.line3b{
  display: none;
  transition: all 200ms ease-in;
}
.shadow-generated{
  box-shadow: -10px 34px 23px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: -10px 34px 23px -7px rgba(0,0,0,0.75);
-moz-box-shadow: -10px 34px 23px -7px rgba(0,0,0,0.75);
}
.sideBar-link{
    color: black;
    position: relative;
    z-index: 1;
    background-color: rgb(212, 203, 203);
    border-radius: 2%;
    cursor: pointer !important;
  }
  .sideBar-link::after{
    cursor: pointer;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
  }
  .sideBar-link:hover::after{
    transform: scaleX(1);
    transform-origin: left;
    cursor: pointer;
 }
 @media screen and (max-width: 1024px) {
  body{
    overflow-x: hidden;
  }
  .burguer{
    display: block;
    position: absolute;
    position: fixed;
    background-color: rgb(187, 189, 174) ;
    top: 1rem;
    left: 80%;
    margin-top: 1rem ;
  }
   .bar-lateral{
     display: block;
     position: fixed;
     transform: translateX(-400%);
     transition: all 0.5s ease-in;
     z-index: 4;
 
   }
   .bar-active{
     position: absolute;
     transform: translateX(0%);
     z-index: 1;
     transition: all 0.5s ease-in;
     display: block;
     position: fixed;
   }
  }